{
    "version": "1.0.0",
    "server": {
        "host": "http://localhost",
        "port": 8080,
        "base_path": "/api/openai/v1"
    },
    "crypto": {
        "method": "aes",
        "aes_key": "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef",
        "aes_iv_seed": "fedcba9876543210"
    }
} 